body{
    margin: 0%;
    padding: 0%;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 10px 0px;
    display: flex;
    justify-content: center;     /*---гор--*/
    align-items: center;      /*---вертикально---*/
}
.flex{
    display: flex;
    /* flex-wrap*/
    justify-content: space-around;
}
@media (max-width:500px){
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}